.body__contacto{
    background-color: lightpink;
}
.body__equipo{
    background-color: lightpink;
}
.body__redes{
    background-color: lightpink;
}
.body__ventas{
    background-color: lightpink;
}
