.footer__equipo{
    background-color: lightcoral;
    padding: 1rem;
    text-align: center;
    }

.footer__redes{
    background-color: lightcoral;
    padding: 1rem;
    text-align: center;
}
.footer__ventas{
    background-color: lightcoral;
    padding: 1rem;
    text-align: center;
}