.imagen__ig{
    width: 5%;
    
    
}
.imagen__what{
    width: 5%;
    
}

.Imagen__pad{
    width: 30%;
    display:flex;
    flex-direction: column;
    margin: 8rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;