.parrafo__productos{
    margin: 2rem;
    font-size: 1.10rem;
    font-style: italic;
    text-align: center;

}
.parrafo__skincare{
    margin: 2rem;
    font-size: 1.10rem;
    font-style: italic;
    text-align: center;
}
.parrafo__mascarillas{
margin: 2rem;
font-size: 1.10rem;
font-style: italic;
text-align: center;
}
.parrafo__ventas{
    text-align: center;
}