$padding-header: 0.5rem 1rem;
$background-color-header: lightpink;
$background-color-header__logocontenedor: deeppink;
$background-color-header__anchor: rgb(255, 55, 161);
$color-header__anchor: black;
$font-size-header__anchor: 1.2 rem; 
