$padding-header:0.5rem 1rem;
$background-color-header:lightpink;
$display-header:flex;
$justify-content-header:space-between;
$align-items-header:center;
$background-color-header__contacto:lightpink;
$background-color-header__logocontenedor:deeppink;
$background-color-body__contacto:lightpink;
$backgroundcolor-body__equipo:lightpink;
$background-color-body__equipo:lightpink;
$background-color-body__redes:lightpink;
$background-color-body__ventas:lightpink;
$background-color-ejemplo:rgb(218, 133, 178);
$color-ejemplo:black;
$font-family-ejemplo:Arial, Helvetica, sans-serif;
$margin-ejemplo:1rem;
$display-ejemplo:inline-block;
$border-ejemplo:outset;
$border-color-ejemplo:deeppink;
$border-radius-ejemplo:5px;
$background-color-ejemplo__u:chartreuse;
$border-color-ejemplo__u:black;
$font-family-ejemplo__u:Arial, Helvetica, sans-serif;
$margin-ejemplo__u:1rem;
$display-ejemplo__u:inline-block;
$border-ejemplo__u:outset; 
$border-color-ejemplo__u:darkgreen;
$border-radius-ejemplo__u:5px;
$display-fielset:flex;
$gap-fielset:1rem;
$flex-direction-fielsetcontacto:column; 
$flex-direction-fielset__ventas:column;
$font-style-form:italic;
$display-form:flex;
$gap-form:1rem;
$margin-form:1.2rem ;
$padding-form:1.5rem;
$width-form:100%;
$color-h1:magenta;
$font-size-h1:3.13rem;
$font-family-h1:Arial, Helvetica, sans-serif;
$color-h2:magenta;
$font-size-h2:1.5rem;
$padding-h2:3rem;
$margin-h3:1rem;
$margin-h4:1rem;
$background-hero:lightpink;
$color-hero_contenedor:black;
$font-size-hero_contenedor:1.25rem;
$font-style-hero_contenedor:italic;
$padding-hero_contenedor:2.70rem;
$display-hero_contenedor:flex;
$flex-direction-hero_contenedor:column;
$align-items-hero_contenedor:center;
$margin-parrafo__productos:2rem;
$font-size-parrafo__productos:1.10rem;
$font-style-parrafo__productos:italic;
$text-align-parrafo__productos:center;
$margin-parrafo__skincare:2rem;
$font-size-parrafo__skincare:1.10rem;
$font-style-parrafo__skincare:italic;
$text-align-parrafo__skincare:center;
$margin-parrafo__mascarillas:2rem;
$font-size-parrafo__mascarillas:1.10rem;
$font-style-parrafo__mascarillas:italic;
$text-align-parrafo__mascarillas: center;
$background-color-footer__equipo:lightcoral;
$padding-footer__equipo:1rem;
$text-align-footer__equipo:center;
$background-color-footer__redes:lightcoral;
$padding-footer__redes:1rem;
$text-align-footer__redes:center;
$background-color-footer__ventas:lightcoral;
$padding-footer__ventas:1rem;
$text-align-footer__ventas:center;
$width-imagen__ig:5%;
$width-imagen__what:5%;
$width-imagen__pad:30%;
$display-Imagen__pad:flex;
$flex-direction-Imagen__pad:column;
$margin-Imagen__pad:8rem;
$padding-Imagen__pad:1rem;
$text-align-Imagen__pad:center;
$justify-content-Imagen__pad:center;









